.theme-0 {
	--bg-color: 180, 21%, 90%;
	--accent-color: 182, 43%, 30%;
}
.theme-1 {
	--bg-color: 38, 63%, 90%;
	--accent-color: 35, 80%, 30%;
}
.theme-2 {
	--bg-color: 353, 52%, 94%;
	--accent-color: 357, 52%, 46%;
}
.theme-3 {
	--bg-color: 312, 14%, 93%;
	--accent-color: 323, 22%, 30%;
}
.theme-4 {
	--bg-color: 218, 64%, 95%;
	--accent-color: 217, 74%, 52%;
}
.theme-5 {
	--bg-color: 187, 25%, 90%;
	--accent-color: 184, 68%, 27%;
}
.theme-6 {
	--bg-color: 288, 41%, 93%;
	--accent-color: 290, 61%, 34%;
}
.theme-7 {
	--bg-color: 334, 44%, 94%;
	--accent-color: 338, 73%, 31%;
}
.theme-8 {
	--bg-color: 322, 63%, 94%;
	--accent-color: 328, 80%, 43%;
}
.theme-9 {
	--bg-color: 103, 14%, 92%;
	--accent-color: 99, 43%, 24%;
}
.theme-10 {
	--bg-color: 26, 25%, 91%;
	--accent-color: 26, 46%, 29%;
}
.theme-11 {
	--bg-color: 220, 10%, 91%;
	--accent-color: 0, 0%, 0%;
}
.theme-12 {
	--bg-color: 230, 24%, 93%;
	--accent-color: 233, 52%, 25%;
}
.theme-13 {
	--bg-color: 0, 0%, 94%;
	--accent-color: 0, 0%, 39%;
}
