{{ if isset (where $.Site.Data.sponsors.items "breizhcamp_level" "platinum") 0 }}
<div class="row">
    <div class="heading text-center">
        <h3>Sponsors Platinum</h3>
    </div>

    {{ if $.Site.Params.sponsors.visible }}
        {{ range sort (where $.Site.Data.sponsors.items "breizhcamp_level" "platinum")  "name" }}
            <div class="col-md-6 col-sm-12">
                {{ partial "widgets/sponsor.html" . }}
            </div>
        {{ end }}
    {{ else }}
        {{ range (seq $.Site.Params.sponsors.anon_nbr_platinum) }}
        <div class="col-md-6 col-sm-12">
            <div class="sponsor sponsor-platinum sponsor-platinum-hidden">
                Bientôt annoncé
            </div>
        </div>
        {{ end }}
    {{ end }}
</div>
{{ end }}


{{ if isset (where $.Site.Data.sponsors.items "breizhcamp_level" "gold") 0 }}
<div class="row">
    <div class="heading text-center">
        <h3>Sponsors Gold</h3>
    </div>
    {{ if $.Site.Params.sponsors.visible }}
        {{ range sort (where $.Site.Data.sponsors.items "breizhcamp_level" "gold") "name" }}
            <div class="col-md-3 col-sm-4 col-xs-6">
                {{ partial "widgets/sponsor.html" . }}
            </div>
        {{ end }}
    {{ else }}
        {{ range (seq $.Site.Params.sponsors.anon_nbr_gold) }}
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="sponsor sponsor-gold sponsor-gold-hidden">
                    Bientôt annoncé
                </div>
            </div>
        {{ end }}
    {{ end }}
</div>
{{ end }}


{{ if isset (where $.Site.Data.sponsors.items "breizhcamp_level" "silver") 0 }}
<div class="row">
    <div class="heading text-center">
        <h3>Sponsors Silver</h3>
    </div>
    {{ if $.Site.Params.sponsors.visible }}
        {{ range sort (where $.Site.Data.sponsors.items "breizhcamp_level" "silver") "name" }}
            <div class="col-md-2 col-sm-3 col-xs-4">
                {{ partial "widgets/sponsor.html" . }}
            </div>
        {{ end }}
    {{ else }}
        {{ range (seq $.Site.Params.sponsors.anon_nbr_silver) }}
            <div class="col-md-2 col-sm-3 col-xs-4">
                <div class="sponsor sponsor-silver sponsor-silver-hidden">
                    Bientôt annoncé
                </div>
            </div>
        {{ end }}
    {{ end }}
</div>
{{ end }}


{{ if isset (where $.Site.Data.sponsors.items "breizhcamp_level" "bronze") 0 }}
<div class="row">
    <div class="heading text-center">
        <h3>Sponsors Bronze</h3>
    </div>
    {{ if $.Site.Params.sponsors.visible }}
    {{ range sort (where $.Site.Data.sponsors.items "breizhcamp_level" "bronze") "name" }}
    <div class="col-md-2 col-sm-2 col-xs-3">
        {{ partial "widgets/sponsor.html" . }}
    </div>
    {{ end }}
    {{ else }}
    {{ range (seq $.Site.Params.sponsors.anon_nbr_bronze) }}
    <div class="col-md-2 col-sm-2 col-xs-3">
        <div class="sponsor sponsor-bronze sponsor-bronze-hidden">
            Bientôt annoncé
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>
{{ end }}


{{ if isset (where $.Site.Data.sponsors.items "breizhcamp_level" "meetandgreet") 0 }}
<div class="row">
    <div class="heading text-center">
        <h3>Sponsor Meet &amp; Greet</h3>
    </div>
    {{ if $.Site.Params.sponsors.visible }}
        {{ range sort (where $.Site.Data.sponsors.items "breizhcamp_level" "meetandgreet") "name" }}
            <div class="col-md-offset-3 col-md-6">
                {{ partial "widgets/sponsor.html" . }}
            </div>
        {{ end }}
    {{ else }}
        {{ range (seq $.Site.Params.sponsors.anon_nbr_meetandgreet) }}
            <div class="col-md-offset-3 col-md-6">
                <div class="sponsor sponsor-meetandgreet sponsor-meetandgreet-hidden">
                    Bientôt annoncé
                </div>
            </div>
        {{ end }}
    {{ end }}
</div>
{{ end }}


{{ if isset (where $.Site.Data.sponsors.items "breizhcamp_level" "partenaire") 0 }}
<div class="row">
    <div class="heading text-center">
        <h3>Partenaires</h3>
    </div>
    {{ if $.Site.Params.sponsors.visible }}
        {{ range sort (where $.Site.Data.sponsors.items "breizhcamp_level" "partenaire") "name" }}
            <div class="col-md-6 col-sm-12">
                {{ partial "widgets/sponsor.html" . }}
            </div>
        {{ end }}
    {{ else }}
        {{ range (seq $.Site.Params.sponsors.anon_nbr_partenaire) }}
            <div class="col-md-6 col-sm-12">
                <div class="sponsor sponsor-partenaire sponsor-partenaire-hidden">
                    Bientôt annoncé
                </div>
            </div>
        {{ end }}
    {{ end }}
</div>
{{ end }}
